apturl==0.5.2
arabic-reshaper==2.1.1
asgiref==3.3.0
asn1crypto==0.24.0
astroid==2.3.1
autopep8==1.5.4
backports.functools-lru-cache==1.6.1
Brlapi==0.6.6
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cloudstorage==0.10.1
command-not-found==0.3
configparser==5.0.1
crcmod==1.7
cryptography==3.2.1
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
defer==1.0.6
defusedxml==0.6.0
distro-info===0.18ubuntu0.18.04.1
dj-database-url==0.5.0
Django==3.1.3
django-allauth==0.43.0
django-countries==6.1.3
django-crispy-forms==1.9.2
django-easy-pdf==0.1.1
django-rest-framework==0.1.0
django-storages==1.10.1
djangorestframework==3.12.2
email-to==0.1.0
future==0.18.2
futures==3.1.1
google-api-core==1.23.0
google-api-python-client==1.6.4
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-cloud-core==1.4.3
google-cloud-storage==1.33.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
gunicorn==20.0.4
html5lib==1.1
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
inflection==0.5.1
isort==4.3.21
jsonpickle==1.4.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
lab==6.2
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.2
louis==3.5.0
lxml==4.6.1
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.3.3
MarkupSafe==1.0
matplotlib==3.3.3
mccabe==0.6.1
mime==0.1.0
mixpanel-api==1.6.5
mixpanel-api3==0.2.1
netifaces==0.10.4
numpy==1.19.4
oauth==1.0.1
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.45.1
pandas==1.1.4
pdfkit==0.6.1
pexpect==4.2.1
Pillow==5.1.0
ply==3.11
premailer==3.7.0
protobuf==3.14.0
psycopg2==2.7.4
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.26.1
PyJWT==1.7.1
pylint==2.4.2
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyRFC3339==1.0
python-apt==1.6.5+ubuntu0.3
python-bidi==0.4.2
python-dateutil==2.8.1
python-debian==0.1.32
python-decouple==3.3
python-magic==0.4.18
python-openid==2.2.5
python3-openid==3.2.0
pytz==2020.4
pyxdg==0.25
PyYAML==3.12
report==0.0.1
reportlab==3.4.0
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
rsa==4.6
SecretStorage==2.3.1
simplejson==3.13.2
six==1.15.0
sqlparse==0.4.1
subprocess32==3.5.4
system-service==0.3
systemd-python==234
toml==0.10.2
txt2tags==3.7
typed-ast==1.4.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unipath==1.1
uritemplate==3.0.1
urlfetch==1.2.2
urllib3==1.26.2
usb-creator==0.3.3
wadllib==1.3.2
webencodings==0.5.1
whitenoise==3.3.1
wrapt==1.11.2
xhtml2pdf==0.2.5
xkit==0.0.0
zipp==3.4.0
zope.interface==4.3.2
